:root {
  --primary-theme: #202020;
  --section-bg: white;
  --highlight-red: #dc143c;
}

* {
  font-family: 'Gotu', sans-serif;
}

body {
  margin: 0;
  background-color: var(--primary-theme);
}

.container {
  padding: 0rem 0rem;
}

.container-center {
  margin: 0 auto;
  max-width: 1140px;
}

.navigation {
  display: flex;
  color: white;
  position: fixed;
  width: 100vw;
  right: 0px;
  left: 0px;
  background-color: var(--primary-theme);
}

.navigation .navigation-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
}

.navigation .link-active {
  font-weight: bold;
  color: var(--highlight-red);
}

nav .nav-brand {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.list-item-bullet {
  list-style: none;
  padding: 0rem 0.5rem;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: white;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--primary-theme);
}

.title-container h1 {
  font-size: 3rem;
  padding: 10px 0px;
}

.intro-heading {
  padding: 10px 0px;
  font-size: 2rem;
}

.section-full {
  height: 100vh;
  width: 100%;
}

/* 
SECTION ABOUT
 */

.section-about {
  background-color: var(--section-bg);
}

.section-about .container-center{
  display: flex;
  height:100%;
}

/* CARD IN SECTION */
.about-card {
  display: flex;
  margin: 15% 0%;
}
.about-profile {
  width:40%;
  margin-right:50px;
}
.about-profile img{
  max-width: 100%;
}
.info-about{
  display: flex;
  flex-direction: column;
}

.info-header {
  display: block;
}

.info-header h1{
  display: inline-block;
  border-bottom: 6px var(--highlight-red) solid;
}

.info-font i{
  margin-right: 20px;;
}

/* 
SECTION WORK
 */

.section-work {
  color: black;
  display: flex;
  height: 100vh !important;
  align-items: center;
  justify-content: center;
}

.work-section-div {
  background-color: white;
  width: 90%;
  height: 90%;
  border-radius: 30px;
}

.work-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.work-row-box {
  height: 400px;
  width: 300px;
  /* border: 1px var(--highlight-red) ; */
box-shadow: 0px 0px 15px rgba(0,0,0,.3);
padding: 10px;
}

.work-row-box-img {
  width: 300px;
  height: 200px;
}
.work-row-box a {
  padding: 0px;
}
.work-row-box h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.work-row-box p {
  padding: 10px;
}

hr {
  color:var(--highlight-red);
}


footer {
  background-color: var(--primary-theme);
  display: flex;
  flex-direction: column;
  color: var(--section-bg);
  
}

footer h1 {
  display: flex;
  justify-content: center;
  font-weight:bold;
  font-size:2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  border:1px var(--highlight-red) solid;
  border-radius:5px;
  padding: 15px;
}

.input-form {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px 0;
}

.fonts-icon{
  margin: 0 auto;
  margin-bottom: 30px;
}
.fonts-icon a{
  padding: 0px;
}
.fonts-icon i{
  margin-right: 20px;
}

